
{{ 'global_hero-banner.css' | asset_url | stylesheet_tag }}
{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="banner hero-banner-1" {%- if section.settings.allow_transparent_header %} allow-transparent-header{% endif -%}>
    {% if section.settings.desktop_image != blank or section.settings.mobile_image != blank %}
        <div class="image">
            <figure>
                {%if section.settings.desktop_image != blank %}
                    {{
                        section.settings.desktop_image
                        | image_url: width: 3840
                        | image_tag:
                            class: 'desktop-img',
                            alt: section.settings.desktop_image.alt | default: section.settings.title |escape
                    }}
                    {{
                        section.settings.mobile_image
                        | image_url: width: 1100
                        | image_tag:
                            class: 'mobile-img',
                            alt: section.settings.mobile_image.alt | default: section.settings.title |escape
                    }}
                {% endif %}
            </figure>
        </div>

        {%- liquid

          assign now = 'now' | date
          assign have_two_countdown = false
          assign has_pre_sale = false

          if section.settings.show_hide_date
            assign countdown_end = section.settings.countdown_end_date | default: 0            
            if countdown_end != 0
              assign countdown_end = countdown_end | append: ' 23:59:59' | date: '%s' | times: 1
            endif            

            assign sale_end = section.settings.sale_end_date | default: 0
            if sale_end != 0
              assign sale_end = sale_end | append: ' 23:59:59' | date: '%s' | times: 1
              assign have_two_countdown = true
              if countdown_end == 0
                assign has_pre_sale = true
              endif
            endif

            
            assign count_end_not = false
            if countdown_end != 0 and countdown_end != 0
              assign count_end_not = true
            endif

            if now >= countdown_end and sale_end <= now and sale_end != 0 and countdown_end != 0
              assign count_end_not = false
              assign has_pre_sale = true
            endif
          endif
        -%}
          {% if section.settings.countdown_title != blank or countdown_end != 0 %}
            <div class="banner-content padding-sections{% if section.settings.show_hide_date and countdown_end != 0 and sale_end != 0 %} opacity-0{% endif %}" data-main>
                <div class="banner-contain">
                    {% if section.settings.countdown_title != blank%}
                        <h2 class="h1 heading">{{ section.settings.countdown_title }}</h2>
                    {% endif %}
                    {% if section.settings.countdown_content != blank%}
                        <p class="description">{{ section.settings.countdown_content }}</p>
                    {% endif %}
                    {% if section.settings.btn_text != blank and section.settings.show_btn %}
                      <div class="banner-button">
                        <a href="{{ section.settings.btn_url }}" class="cta">{{ section.settings.btn_text }}{% render 'icon-left-arrow' %}</a>
                      </div>
                    {% endif %}
                </div>
                {% if section.settings.show_hide_date and section.settings.countdown_end_date %}
                  {%- liquid                    
                    assign countdown_end_date = section.settings.countdown_end_date                    
                    
                    comment
                      assign countdown_end_date = '2025-04-07 03:41 PM'    
                      assign end_date1 = end_date | append: ' 23:59:59' | date: '%s'
                      assign today = 'now' | date:'%s'

                      assign end_date1 = end_date1 | minus: today

                      echo end_date1
                      assign seconds = 1
                      assign minute = seconds | times: 60
                      assign hours = minute | times: 60               
                      assign hours_p = end_date1 | modulo: hours
                      assign days = hours | times: 24
                      assign days_p = end_date1 | modulo: days
                      echo '<br>'
                      echo end_date1 | divided_by: days
                      echo '<br>'
                      echo days_p | divided_by: hours
                      echo '<br>'
                      echo hours_p | divided_by: minute
                    endcomment
                  -%}
                  
                    <div class="dynamic-background" data-hide-countdown data-pre-count="{{ have_two_countdown }}">                      
                      <div class="banner-date">
                        {% if section.settings.presale_countdown_title != blank %}<div class="h4 subtitle">{{ section.settings.presale_countdown_title }}</div>{% endif %}
                        {% if section.settings.sale_live_title !=blank %}<div class="h4 subtitle">{{ section.settings.sale_live_title }}</div>{% endif %}
                        <div class="countdown-timer" data-count-end-date="{{- countdown_end_date -}}">
                          <ul id="timer-{{ section.id }}" data-selector>
                              <li class="days"><span><span class="number">00</span><span class="text">days</span></span></li>
                              <li class="hours"><span><span class="number">00</span><span class="text">hours</span></span></li>
                              <li class="min"><span><span class="number">00</span><span class="text">mins</span></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                {% endif %}
            </div>
          {% endif %}  
          {% if section.settings.countdown_title != blank and section.settings.sale_title != blank or sale_end != 0 %}
            <div class="banner-content padding-sections{% if sale_end != 0 %} hidden{% endif %}" data-pre-content>
              <div class="banner-contain">
                  {% if section.settings.sale_title != blank%}
                      <h2 class="h1 heading">{{ section.settings.sale_title }}</h2>
                  {% endif %}
                  {% if section.settings.sale_content != blank%}
                      <p class="description">{{ section.settings.sale_content }}</p>
                  {% endif %}
                  {% if section.settings.btn_text != blank and section.settings.show_btn_pre %}
                    <div class="banner-button">
                      <a href="{{ section.settings.btn_url_pre }}" class="cta">{{ section.settings.btn_text_pre }}{% render 'icon-left-arrow' %}</a>
                    </div>
                  {% endif %}
              </div>
              {% if section.settings.show_date_pre_on and section.settings.sale_end_date %}
                {%- liquid                    
                  assign sale_end_date = section.settings.sale_end_date
                  comment
                    assign end_date1 = end_date | append: ' 23:59:59' | date: '%s'
                    assign today = 'now' | date:'%s'

                    assign end_date1 = end_date1 | minus: today

                    echo end_date1
                    assign seconds = 1
                    assign minute = seconds | times: 60
                    assign hours = minute | times: 60               
                    assign hours_p = end_date1 | modulo: hours
                    assign days = hours | times: 24
                    assign days_p = end_date1 | modulo: days
                    echo '<br>'
                    echo end_date1 | divided_by: days
                    echo '<br>'
                    echo days_p | divided_by: hours
                    echo '<br>'
                    echo hours_p | divided_by: minute
                  endcomment
                -%}
                
                  <div class="dynamic-background" data-hide-countdown>
                    <div class="banner-date">
                      {% if section.settings.presale_on_title != blank %}<div class="h4 subtitle">{{ section.settings.presale_on_title }}</div>{% endif %}
                      <div class="countdown-timer" data-count-end-date="{{- sale_end_date -}}">
                        <ul id="pre-timer-{{ section.id }}" data-selector>
                            <li class="days"><span><span class="number">00</span><span class="text">days</span></span></li>
                            <li class="hours"><span><span class="number">00</span><span class="text">hours</span></span></li>
                            <li class="min"><span><span class="number">00</span><span class="text">mins</span></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              {% endif %}
            </div>
          {% endif %}        
    {% endif %}
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow transparent header",
      "info": "This setting only applies when this section is the first one.",
      "default": false
    },
    {
      "type": "header",
      "content": "Image content"
    },
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    },
    {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Image ovrlay opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 20
    },
    {
      "type": "header",
      "content": "Presale Countdown Heading"
    },
    {
      "type": "inline_richtext",
      "label": "Countdown Title",
      "id": "countdown_title"
    },
    {
      "type": "textarea",
      "label": "Countdown Content",
      "id": "countdown_content"
    },
    {
      "type": "header",
      "content": "Presale Live Heading"
    },
    {
      "type": "inline_richtext",
      "label": "Sale Title",
      "id": "sale_title"
    },
    {
      "type": "textarea",
      "label": "Sale Content",
      "id": "sale_content"
    },
    {
      "type": "header",
      "content": "Banner Content"
    },
    {
      "type": "checkbox",
      "id": "show_btn",
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
        "type": "header",
        "content": "Banner Display Date"
    },
    {
        "type": "checkbox",
        "id": "show_hide_date",
        "label": "Show / Hide Date",
        "default": true
    },
    {
      "type": "header",
      "content": "Presale Countdown"
    },
    {
      "type": "inline_richtext",
      "label": "Presale Countdown Title",
      "id": "presale_countdown_title"
    },
    {
        "type": "text",
        "id": "countdown_end_date",
        "label": "Countdown End Date",
        "info": "Use YYYY-MM-DD HH:MM AM/PM date format i.e. 2021-11-28 09:30 PM"
    },
    {
      "type": "header",
      "content": "Presale On"
    },
    {
        "type": "checkbox",
        "id": "show_date_pre_on",
        "label": "Show Date for 'Presale On'",
        "default": true
    },
    {
      "type": "inline_richtext",
      "label": "Presale On Title",
      "id": "presale_on_title"
    },
    {
        "type": "text",
        "id": "sale_end_date",
        "label": "Sale End Date",
        "info": "Use YYYY-MM-DD HH:MM AM/PM date format i.e. 2021-11-28 09:30 PM"
    },
    {
      "type": "paragraph",
      "content": "PreSale Button"
    },
    {
      "type": "checkbox",
      "id": "show_btn_pre",
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "btn_text_pre",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url_pre",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
