{{ 'global_custom-footer.css' | asset_url | stylesheet_tag }}

<div id="footer-{{ section.id }}" class="custom-footer-section" style="background-color: {{ section.settings.background_color }}">
    <div class="custom-footer padding-sections">
        {% if section.settings.select_logo != blank %}
            <div class="footer-logo">
                <a href="{{ routes.root_url }}"><img src="{{ section.settings.select_logo | image_url }}" height="auto" width="auto" alt="footer-logo"></a>
            </div>
        {% endif %}
        <div class="footer-right">
            <div class="footer-link-wrap">
                {% if section.settings.contact != blank %}
                    <span class="footer-link phone"><a href="callTo:{{ section.settings.contact }}">{{ section.settings.contact }}</a></span>
                {% endif %}
                {% if section.settings.email != blank %}
                    <span class="footer-link email"><a href="mailTo:{{ section.settings.email }}">{{ section.settings.email }}</a></span>
                {% endif %}
                <div class="footer__copyright caption footer-link">
                    <small class="copyright__content footer__copyright_left"
                      >&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url -}}
                    </small>
                </div>
            </div>
        </div>   
        {%- if section.settings.policy_link -%}
        <div class="footer-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {%- if settings.animations_reveal_on_scroll %} data-cascade{% endif -%}
            >            
            <div class="row">
                <div class="col col-links">                    
                    <ul class="policies list-unstyled">
                    {%- for link in linklists[section.settings.policy_link].links -%}                        
                        <li>
                            <small class="copyright__content{% if link.active %} active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></small>
                        </li>                        
                    {%- endfor -%}
                    </ul>
                </div>
            </div>            
        </div>
        {%- endif -%}
    </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "custom-Footer-section",
  "settings": [
    {
        "type": "color",
        "label": "Select Background Color",
        "id": "background_color"
    },
    {
      "type": "header",
      "content": "Select Logo"
    },
    {
      "type": "image_picker",
      "label": "Select Logo",
      "id": "select_logo"
    },
    {
        "type": "header",
        "content": "Add Contact Links"
    },
    {
        "type": "text",
        "label": "Add Contact",
        "id": "contact"
    },
    {
        "type": "text",
        "label": "Add Email",
        "id": "email"
    },
    {
        "type": "header",
        "content": "Policy menu"
    },
    {
        "type": "link_list",
        "label": "Provide navigation for policies",
        "id": "policy_link"
    }
  ],
  "presets": [
    {
        "name": "Custom Footer"
    }
  ]
}
{% endschema %}