{{ 'global_competitor-comparison.css' | asset_url | stylesheet_tag }}

<div class="competitor-comparison-section">
  <div class="padding-sections">
    <h2 class="h2 heading text-center">{{ section.settings.title }}</h2>
    
    <div class="scroll-wrapper">
      <div class="comparison-table-wrapper">
        <div class="comparison-table">
          <!-- Header Row with Competitor Names -->
          <div class="table-row header-row">
            <div class="feature-label"></div>

            <!-- label_1 -->
            {% if section.settings.label_1 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_1 }}
            </div>
            {% endif %}

            <!-- label_2 -->
            {% if section.settings.label_2 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_2 }}
            </div>
            {% endif %}

              <!-- label_3 -->
            {% if section.settings.label_3 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_3 }}
            </div>
            {% endif %}

              <!-- label_4 -->
            {% if section.settings.label_4 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_4 }}
            </div>
            {% endif %}

              <!-- label_5 -->
            {% if section.settings.label_5 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_5 }}
            </div>
            {% endif %}

              <!-- label_6 -->
            {% if section.settings.label_6 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_6 }}
            </div>
            {% endif %}

              <!-- label_7 -->
            {% if section.settings.label_7 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_7 }}
            </div>
            {% endif %}

              <!-- label_8 -->
            {% if section.settings.label_8 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_8 }}
            </div>
            {% endif %}

              <!-- label_9 -->
            {% if section.settings.label_9 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_9 }}
            </div>
            {% endif %}

              <!-- label_10 -->
            {% if section.settings.label_10 != blank %}
            <div class="competitor-column">
              {{ section.settings.label_10 }}
            </div>
            {% endif %}

            {% comment %} {% for block in section.blocks %}
              {% if block.type == "competitor" %}
                <div class="competitor-column">
                  {{ block.settings.name }}
                </div>
              {% endif %}
            {% endfor %} {% endcomment %}
          </div>


          {% for block in section.blocks %}
            {% if block.type == "competitor" %}
              <div class="table-row">
                {% if block.settings.name != blank %}<div class="feature-label">{{ block.settings.name }}</div>{% endif %}

                {% if block.settings.label_1 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_1 }}
                </div>
                {% endif %}

                {% if block.settings.label_2 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_2 }}
                </div>
                {% endif %}

                {% if block.settings.label_3 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_3 }}
                </div>
                {% endif %}

                {% if block.settings.label_4 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_4 }}
                </div>
                {% endif %}

                {% if block.settings.label_5 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_5 }}
                </div>
                {% endif %}

                {% if block.settings.label_6 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_6 }}
                </div>
                {% endif %}

                {% if block.settings.label_7 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_7 }}
                </div>
                {% endif %}

                {% if block.settings.label_8 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_8 }}
                </div>
                {% endif %}

                {% if block.settings.label_9 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_9 }}
                </div>
                {% endif %}

                {% if block.settings.label_10 != blank %}
                <div class="competitor-column {% if block.settings.bold-text == true %}prices{% endif %}">
                  {{ block.settings.label_10 }}
                </div>
                {% endif %}

              </div>
            {% elsif block.type == "true-false-value" %}
              <div class="table-row">
                {% if block.settings.name != blank %}<div class="feature-label">{{block.settings.name}}</div>{% endif %}
                
                {% capture true_icon %}
                  <div class="competitor-column">
                    <span class="checkmark">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M4.45215 12.0304L9.79391 17.5331L20.5479 6.46729" stroke="white" stroke-width="1.5"/>
                      </svg>
                    </span>
                  </div>
                {% endcapture %}

                {% capture false_icon %}
                  <div class="competitor-column">
                    <span class="cross">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path opacity="0.4" d="M4.6665 19.5L12.1665 12M12.1665 12L19.6665 4.5M12.1665 12L4.6665 4.5M12.1665 12L19.6665 19.5" stroke="white" stroke-width="1.5"/>
                      </svg>
                    </span>
                  </div>
                {% endcapture %}

                {% if section.settings.label_1 != blank %}{% if block.settings.label_1 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_2 != blank %}{% if block.settings.label_2 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_3 != blank %}{% if block.settings.label_3 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_4 != blank %}{% if block.settings.label_4 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_5 != blank %}{% if block.settings.label_5 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_6 != blank %}{% if block.settings.label_6 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_7 != blank %}{% if block.settings.label_7 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_8 != blank %}{% if block.settings.label_8 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_9 != blank %}{% if block.settings.label_9 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}
                {% if section.settings.label_10 != blank %}{% if block.settings.label_10 == true %}{{ true_icon }}{% else %}{{ false_icon }}{% endif %}{% endif %}

              </div>
            {% endif %}
          {% endfor %}
          
        </div>
      </div>
      <div class="custom-scrollbar">
        <div class="custom-thumb" style="width: 100%;"></div>
      </div>
    </div>
    
    <div class="more-info">
      <div class="more-info-wrap">
        {% if section.settings.info_text != blank %}
          <p class="description">{{ section.settings.info_text }}</p>
        {% endif %}
        {% if section.settings.link_Label != blank or section.settings.link_Label_1 != blank %}
          <div class="page-links">
            {% if section.settings.link_Label != blank %}
              <a href="#{{ section.settings.section_id | handle }}">{{ section.settings.link_Label }}
                {% render 'icon-left-arrow' %}
              </a>
            {% endif %}
            {% if section.settings.link_Label_1 != blank %}
              <a href="#{{ section.settings.section_id_1 | handle }}">{{ section.settings.link_Label_1 }}
                {% render 'icon-left-arrow' %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Competitor Comparison",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "COMPETITOR COMPARISON"
    },
    {
      "type": "header",
      "content": "Feature Column Labels"
    },
    {
      "type": "text",
      "id": "label_1",
      "label": "Label 1"
    },
    {
      "type": "text",
      "id": "label_2",
      "label": "Label 2"
    },
    {
      "type": "text",
      "id": "label_3",
      "label": "Label 3"
    },
    {
      "type": "text",
      "id": "label_4",
      "label": "Label 4"
    },
    {
      "type": "text",
      "id": "label_5",
      "label": "Label 5"
    },
    {
      "type": "text",
      "id": "label_6",
      "label": "Label 6"
    },
    {
      "type": "text",
      "id": "label_7",
      "label": "Label 7"
    },
    {
      "type": "text",
      "id": "label_8",
      "label": "Label 8"
    },
    {
      "type": "text",
      "id": "label_9",
      "label": "Label 9"
    },
    {
      "type": "text",
      "id": "label_10",
      "label": "Label 10"
    },
    {
      "type": "header",
      "content": "More Info Details"
    },
    {
      "type": "text",
      "id": "info_text",
      "label": "Info Text",
      "default": "For more information on membersips terms, delails & payments, Please visit our FAQ"
    },
    {
      "type": "text",
      "id": "link_Label",
      "label": "Link Label",
      "default": "Explore FAQ PAGE"
    },
    {
      
      "type": "text",
      "id": "section_id",
      "label": "Link Section Id",
    },
    {
      "type": "text",
      "id": "link_Label_1",
      "label": "Link Label",
      "default": "Explore all Memberships"
    },
    {
      
      "type": "text",
      "id": "section_id_1",
      "label": "Link Section Id",
    },
  
  ],
  "max_blocks": 10,
  "blocks": [
    {
      "type": "competitor",
      "name": "Competitor",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Row Title Name",
          "default": "Competitor"
        },
        {
          "type": "checkbox",
          "id": "bold-text",
          "label": "Bold Text",
          "default": false
        },
        {
          "type": "text",
          "id": "label_1",
          "label": "Lable 1"
        },
        {
          "type": "text",
          "id": "label_2",
          "label": "Lable 2"
        },
        {
          "type": "text",
          "id": "label_3",
          "label": "Lable 3"
        },
        {
          "type": "text",
          "id": "label_4",
          "label": "Lable 4"
        },
        {
          "type": "text",
          "id": "label_5",
          "label": "Lable 5"
        },
        {
          "type": "text",
          "id": "label_6",
          "label": "Lable 6"
        },
        {
          "type": "text",
          "id": "label_7",
          "label": "Lable 7"
        },
        {
          "type": "text",
          "id": "label_8",
          "label": "Lable 8"
        },
        {
          "type": "text",
          "id": "label_9",
          "label": "Lable 9"
        },
        {
          "type": "text",
          "id": "label_10",
          "label": "Lable 10"
        },
        {
          "type": "checkbox",
          "id": "cancel_anytime",
          "label": "Cancel Anytime",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "price_protected",
          "label": "Price Protected",
          "default": false
        }
      ]
    },
    {
      "type": "true-false-value",
      "name": "True False Value",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Row Title Name",
          "default": "Competitor"
        },
        {
          "type": "checkbox",
          "id": "label_1",
          "label": "Lable 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_2",
          "label": "Lable 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_3",
          "label": "Lable 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_4",
          "label": "Lable 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_5",
          "label": "Lable 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_6",
          "label": "Lable 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_7",
          "label": "Lable 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_8",
          "label": "Lable 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_9",
          "label": "Lable 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "label_10",
          "label": "Lable 10",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Competitor Comparison",
      "blocks": [
        {
          "type": "competitor"
        },
        {
          "type": "competitor"
        },
        {
          "type": "competitor"
        }
      ]
    }
  ]
}
{% endschema %}