{{ 'global_header.css' | asset_url | stylesheet_tag }}
{%- liquid            
  assign has_drakness = 'dark'
  assign bright_temp = 'pre-sale-landing,index' | split:','
  for bt in bright_temp
    if template contains bt
      assign has_drakness = ''
      break
    endif
  endfor
-%}
<div class="custom-header-section {% if section.settings.sale_on_header %}header-static{% endif %}">
<div class="custom-header {{ has_drakness }} padding-sections">
  {% if section.settings.link_text != blank %}
    <div class="left-links">
        <a href="{{ section.settings.add_header_link }}" class="header-links contact">{{ section.settings.link_text }}</a>
    </div>
  {% endif %}
  {% if section.settings.desktop_logo != blank or section.settings.mobile_logo != blank %}
      <div class="header-logo-wrapper">
          <a href="{{ routes.root_url }}" class="header__heading-link">
            {% if section.settings.desktop_logo != blank %}
              <img src="{{ section.settings.desktop_logo | image_url }}" height="auto" width="auto" alt="logo" class="header__heading-logo desktop-img">
            {% endif %}
            {% if section.settings.mobile_logo != blank %}
              <img src="{{ section.settings.mobile_logo | image_url }}" height="auto" width="auto" alt="logo" class="header__heading-logo mobile-img">
            {% endif %}
          </a>
      </div>
  {% endif %}
  {% if section.settings.btn_account %}
    <div class="header-right">
      <div class="header-buttons-wrap">
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header-links header__icon--account link">
          {% render 'icon-account-2' %}
          {% if section.settings.btn_account_text != blank %}
            <span class="header__icon_text">
              {{ section.settings.btn_account_text }}
              {% comment %} {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%} {% endcomment %}
            </span>
          {% endif %}
        </a>
        
        {% if section.settings.btn_buy_classes %}<a href="{{ section.settings.buy_classes_url }}" class="header_btn--links link">{{ section.settings.buy_classes_text }}{% render 'icon-left-arrow' %}</a>{% endif %}

        {% if section.settings.btn_book_now %}<a href="{{ section.settings.book_now_url }}" class="header_btn--links link">{{ section.settings.book_now_text }}{% render 'icon-left-arrow' %}</a>{% endif %}
      </div>
    </div>
  {% endif %}
  
  {% if section.settings.btn_mobile_toggle %}
    <div class="mobile-links-toggle">
      <div class="toggle-bar">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
          <path d="M8.94922 6.93695L30.0742 6.93695M2.92578 15.7421H30.0742M2.92578 24.9369L24.0508 24.937" stroke="white" stroke-width="1.5"/>
        </svg>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-menu-inner">
          <div class="dropdown-dropup">
             {%- render 'icon-close', type: 1 -%} 
          </div>
          {% if section.settings.desktop_logo != blank or section.settings.mobile_logo != blank %}
            <div class="header-logo-wrapper">
              <a href="{{ routes.root_url }}" class="header__heading-link">
                {% if section.settings.desktop_logo != blank %}
                  <img src="{{ section.settings.desktop_logo | image_url }}" height="auto" width="auto" alt="logo" class="header__heading-logo desktop-img">
                {% endif %}
                {% if section.settings.mobile_logo != blank %}
                  <img src="{{ section.settings.mobile_logo | image_url }}" height="auto" width="auto" alt="logo" class="header__heading-logo mobile-img">
                {% endif %}
              </a>
            </div>
          {% endif %}

          <div class="dropdown-link-ul">
            {% if section.settings.link_text != blank %}
              <div class="dropLink-li">
                <a href="{{ section.settings.add_header_link }}" class="header-links contact">{{ section.settings.link_text }}</a>
              </div>
            {% endif %}
            <div class="dropLink-li">
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header-links header__icon--account link">                
                {% if section.settings.btn_account_text != blank %}
                  <span class="header__icon_text">
                    {{ section.settings.btn_account_text }}        
                  </span>
                {% endif %}
              </a>
            </div>
          </div>
          
          <div class="dropdown-bottom">
            {%- if section.settings.btn_buy_classes %}<a href="{{ section.settings.buy_classes_url }}" class="header_btn--links link">{{ section.settings.buy_classes_text }}</a>{% endif -%}
            {%- if section.settings.btn_book_now %}<a href="{{ section.settings.book_now_url }}" class="header_btn--links link">{{ section.settings.book_now_text }}</a>{% endif -%}
          </div>            
        </div>

      </div>
    </div>
    
    <script>
      document.querySelector('.mobile-links-toggle .toggle-bar').addEventListener('click',function(e){
        e.preventDefault();
        if(this.closest('.mobile-links-toggle').classList.contains('active')){
          this.closest('.mobile-links-toggle').classList.remove('active');
          document.body.classList.remove('mobile-toggle--show');
        }else{
          this.closest('.mobile-links-toggle').classList.add('active');  
          document.body.classList.add('mobile-toggle--show');
        }
      });
      document.querySelector('.mobile-links-toggle .dropdown-dropup').addEventListener('click',function(e){
        e.preventDefault();
        this.closest('.mobile-links-toggle').classList.remove('active');
        document.body.classList.remove('mobile-toggle--show');
      });
    </script>
  {% endif %}
    
</div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Select Logo"
    },
    {
      "type": "image_picker",
      "label": "Desktop Logo",
      "id": "desktop_logo"
    },
    {
      "type": "image_picker",
      "label": "Mobile Logo",
      "id": "mobile_logo"
    },
    {
      "type": "header",
      "content": "Header Links"
    },
    {
        "type": "text",
        "label": "Header Link Text",
        "id": "link_text"
    },
    {
      "type": "url",
      "label": "Add Header Link",
      "id": "add_header_link"
    },
    {
      "type": "header",
      "content": "Hide / Show Header Buttons"
    },
    {
      "type": "checkbox",
      "id": "btn_account",
      "label": "customer Accounts"
    },
    {
      "type": "text",
      "id": "btn_account_text",
      "label": "Account Button Text"
    },
    {
      "type": "checkbox",
      "id": "btn_buy_classes",
      "label": "Buy Classes"
    },
    {
      "type": "text",
      "id": "buy_classes_text",
      "label": "Button Text",
      "default": "Buy Classes"
    },
    {
      "type": "url",
      "id": "buy_classes_url",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "btn_book_now",
      "label": "Book Now"
    },
    {
      "type": "text",
      "id": "book_now_text",
      "label": "Button Text",
      "default": "Book Now"
    },
    {
      "type": "url",
      "id": "book_now_url",
      "label": "Book Now URL"
    },
    {
      "type": "header",
      "content": "Mobile View"
    },
    {
      "type": "checkbox",
      "id": "btn_mobile_toggle",
      "label": "Menu Hide/Show",
      "default":true
    },
    {
      "type": "checkbox",
      "id": "sale_on_header",
      "label": "Enable Sale Launched Header"
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}
