{{ 'popular-audio-experiences.css' | asset_url | stylesheet_tag }}

<div class="popular-audio-experiences">
  <div class="title-wrpper">
    {% if section.settings.title != blank %}<h4 class="title h4" style="color: #ffffff;">{{ section.settings.title }}</h4>{% endif %}
    <div class="nav-buttons">
      <div class="nav-btn btn-prev">{% render 'nav-left' %}</div>
      <div class="nav-btn btn-next">{% render 'nav-right' %}</div>
    </div>
  </div>
  <div class="audio-services swiper">
    <div class="audio-services-carousel swiper-wrapper">
      {% for block in section.blocks %}
        {% assign get_handle = block.settings.experience-obj | split:'/' | last %}
        {% assign get_experience_object = shop.metaobjects['experiences'][get_handle] %}
        <div class="audio-item swiper-slide" data-audio="{% if get_experience_object.audio.value != blank %}true{% else %}false{% endif %}">
          <!-- <a href="/"></a> -->
          <template>
            <div>
              <p class="therapy-type">{{ get_experience_object.sub_title.value }}</p>
              <h2 class="therapy-name">{{ get_experience_object.title.value }}</h2>
              <p class="description">{{ get_experience_object.description.value }}</p>
              {% if get_experience_object.audio.value != blank %}
              <audio id="audio" controls class="hidden">
                <source src="{{ get_experience_object.audio.value }}" type="audio/mp3">
                Your browser does not support the audio element.
              </audio>
              {% endif %}
              <div class="details">
                  {% if get_experience_object.how_many_minutes.value != blank %}
                  <div class="detail-item">
                      <span class="audio-type">LENGTH</span>
                      <span>{{ get_experience_object.how_many_minutes.value }}</span>
                  </div>
                  {% endif %}
  
                  {% if get_experience_object.difficulty_level.value != blank %}
                  <div class="detail-item">
                      <span class="audio-type">DIFFICULTY LEVEL</span>
                      <span>{{ get_experience_object.difficulty_level.value }}</span>
                  </div>
                  {% endif %}
  
                  {% if get_experience_object.mood.value != blank %}
                  <div class="detail-item">
                      <span class="audio-type">MOOD</span>
                      <span>{{ get_experience_object.mood.value }}</span>
                  </div>
                  {% endif %}
  
                  {% if get_experience_object.guide.value != blank %}
                  <div class="detail-item">
                      <span class="audio-type">GUIDE</span>
                      <span>{{ get_experience_object.guide.value }}</span>
                  </div>
                  {% endif %}
  
                  {% if get_experience_object.guidance_level.value != blank %}
                  <div class="detail-item">
                      <span class="audio-type">GUIDANCE LEVEL</span>
                      <span>{{ get_experience_object.guidance_level.value }}</span>
                  </div>
                  {% endif %}
              </div>
              {% if get_experience_object.audio.value != blank %}
              <div class="play-button" onclick="playAudio(this)">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100ZM42.5373 62.9258L64.9254 50L42.5373 37.0742V62.9258Z" fill="#C79D5B"></path>
                </svg>
              </div>
              {% endif %}
            </div>
          </template>
          <div class="image-box">
            <img src="{{ get_experience_object.image.value | image_url }}" height="auto" width="auto" />
            <div class="icon">{% render 'spa-icon' %}</div>
          </div>
          <div class="audio-content">
            <h4 class="audio-title h5">{{ get_experience_object.title.value }}</h4>
            <div class="spa-time">{{ get_experience_object.how_many_minutes.value }} <span class="ellips"></span> {{ get_experience_object.difficulty_level.value }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% comment %}<div class="audio-popup">
  <div class="audio-popup-wrapper">
    <div class="popup-overlay"></div>
    <img src="https://cdn.shopify.com/s/files/1/0277/8280/7635/files/popup_Body_Scan_Ice_Bath.png?v=1721026190" alt="Meditation Image" class="background-image" height="auto" width="auto">
    <div class="overlay">
        <header>
            <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0277/8280/7635/files/Vector_1.svg?v=1695363748" height="auto" width="auto"></div>
            <div class="close-btn" onclick="closePopup(this)">{% render 'close-icon' %}</div>
        </header>
        <div class="content"></div>
        <div class="pause-btn-wrapper">
          
          <div class="backward-button hidden">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="backward(this)">
            <g opacity="0.8">
            <path d="M0.372807 24.283L24.057 7.61634C24.3254 7.42687 24.6737 7.40406 24.9658 7.55494C25.2561 7.70494 25.4386 8.00581 25.4386 8.33301V23.9269L48.6184 7.62599C48.886 7.43915 49.2351 7.41459 49.5272 7.56546C49.8175 7.71634 50 8.01722 50 8.34441V41.6558C50 41.983 49.8175 42.2839 49.5272 42.4348C49.3991 42.4997 49.2605 42.5321 49.1228 42.5321C48.9456 42.5321 48.7693 42.4777 48.6184 42.3725L25.4386 26.0725V41.6663C25.4386 41.9935 25.2561 42.2944 24.9658 42.4453C24.8377 42.5111 24.6991 42.5435 24.5614 42.5435C24.3842 42.5435 24.207 42.4891 24.057 42.383L0.372807 25.7163C0.138596 25.5532 0 25.2848 0 24.9997C0 24.7146 0.138596 24.4462 0.372807 24.283Z" fill="#C79D5B"/></path>
            </g>
            </svg>
          </div>
          <div class="pause-button">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="closePopup(this)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM39.5522 35.8209H47.0149V64.1791H39.5522V35.8209ZM60.4478 35.8209H52.9851V64.1791H60.4478V35.8209Z" fill="#C79D5B"></path>
            </svg>
          </div>
          <div class="forward-button hidden">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="forward(this)">
            <g opacity="0.8">
            <path d="M49.6272 24.283L25.943 7.61634C25.6746 7.42687 25.3263 7.40406 25.0342 7.55494C24.7439 7.70494 24.5614 8.00581 24.5614 8.33301V23.9269L1.38158 7.62599C1.11404 7.43915 0.764912 7.41459 0.472807 7.56546C0.182456 7.71634 0 8.01722 0 8.34441V41.6558C0 41.983 0.182456 42.2839 0.472807 42.4348C0.600877 42.4997 0.739474 42.5321 0.877193 42.5321C1.05439 42.5321 1.2307 42.4777 1.38158 42.3725L24.5614 26.0725V41.6663C24.5614 41.9935 24.7439 42.2944 25.0342 42.4453C25.1623 42.5111 25.3009 42.5435 25.4386 42.5435C25.6158 42.5435 25.793 42.4891 25.943 42.383L49.6272 25.7163C49.8614 25.5532 50 25.2848 50 24.9997C50 24.7146 49.8614 24.4462 49.6272 24.283Z" fill="#C79D5B"/></path>
            </g>
            </svg>
          </div>
          
        </div>
        <div class="progressbar-wrapper">
          <div class="progress">
            <div class="progress-bar"></div>
            <div class="fill-bar" width="0%"></div>
          </div>
          <div class="time-sound-bar">
            <div class="time-bar">
              <span class="time-elapsed">00:02:20</span>  / 
              <span class="time-duration">1:20:00</span>
            </div>
            <div class="sound-bar">
            <div class="sound-off" onclick="soundoff(this)">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.65002 1.75L18.65 18.25" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></path>
              <path d="M6.65002 6.25V13.75" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></path>
              <path d="M17.15 8.01953C17.6325 8.56736 17.8987 9.27233 17.8987 10.0023C17.8987 10.7324 17.6325 11.4373 17.15 11.9852" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></path>
              <path d="M13.4 12.4748V18.9998L6.65002 13.7498H2.15002C1.95111 13.7498 1.76035 13.6708 1.61969 13.5301C1.47904 13.3895 1.40002 13.1987 1.40002 12.9998V6.9998C1.40002 6.80089 1.47904 6.61013 1.61969 6.46948C1.76035 6.32882 1.95111 6.2498 2.15002 6.2498H6.65002L7.2894 5.75293" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></path>
              <path d="M9.66406 3.90531L13.4 1V8.01531" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></path>
              </svg>
            </div>
            <div class="sound-icon" onclick="soundoff(this)">{% render 'sound-icon' %}</div>
            <div class="sound-progress">
                <div class="sound-progress-bar"></div>
                <div class="sound-progress-bar-fill" width="100%"></div>
                <input type="range" min="0" max="1" step="0.01" value="1" class="volu-value" style="opacity: 0;">
            </div>
          </div>
          </div>
        </div>
      
        <div class="recommended-audio all-audio-experiences hidden">
          <div class="title-wrpper">
            <h4 class="title h4" style="color: #ffffff;"> RECOMMENDED AUDIO EXPERIENCES</h4>
          </div>
          <div class="audio-services">
            {% for block in section.blocks %}
              {% assign get_handle = block.settings.experience-obj | split:'/' | last %}
              {% assign get_experience_object = shop.metaobjects['experiences'][get_handle] %}
              <div class="audio-item swiper-slide">
                <!-- <a href="/"></a> -->
                <template>
                  <div>
                    <p class="therapy-type">{{ get_experience_object.sub_title.value }}</p>
                    <h2 class="therapy-name">{{ get_experience_object.title.value }}</h2>
                    <p class="description">{{ get_experience_object.description.value }}</p>
                    {% if get_experience_object.audio.value != blank %}
                    <audio id="audio" controls class="hidden">
                      <source src="{{ get_experience_object.audio.value }}" type="audio/mp3">
                      Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                    <div class="details">
                        {% if get_experience_object.how_many_minutes.value != blank %}
                        <div class="detail-item">
                            <span class="audio-type">LENGTH</span>
                            <span>{{ get_experience_object.how_many_minutes.value }}</span>
                        </div>
                        {% endif %}
        
                        {% if get_experience_object.difficulty_level.value != blank %}
                        <div class="detail-item">
                            <span class="audio-type">DIFFICULTY LEVEL</span>
                            <span>{{ get_experience_object.difficulty_level.value }}</span>
                        </div>
                        {% endif %}
        
                        {% if get_experience_object.mood.value != blank %}
                        <div class="detail-item">
                            <span class="audio-type">MOOD</span>
                            <span>{{ get_experience_object.mood.value }}</span>
                        </div>
                        {% endif %}
        
                        {% if get_experience_object.guide.value != blank %}
                        <div class="detail-item">
                            <span class="audio-type">GUIDE</span>
                            <span>{{ get_experience_object.guide.value }}</span>
                        </div>
                        {% endif %}
        
                        {% if get_experience_object.guidance_level.value != blank %}
                        <div class="detail-item">
                            <span class="audio-type">GUIDANCE LEVEL</span>
                            <span>{{ get_experience_object.guidance_level.value }}</span>
                        </div>
                        {% endif %}
                    </div>
                    {% if get_experience_object.audio.value != blank %}
                    <div class="play-button" onclick="playAudio(this)">
                      <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100ZM42.5373 62.9258L64.9254 50L42.5373 37.0742V62.9258Z" fill="#C79D5B"></path>
                      </svg>
                    </div>
                    {% endif %}
                  </div>
                </template>
                <div class="image-box">
                  <img src="{{ get_experience_object.image.value | image_url }}" height="auto" width="auto" />
                  <div class="icon">{% render 'spa-icon' %}</div>
                </div>
                <div class="audio-content">
                  <h4 class="audio-title h5">{{ get_experience_object.title.value }}</h4>
                  <div class="spa-time">{{ get_experience_object.how_many_minutes.value }} <span class="ellips"></span> {{ get_experience_object.difficulty_level.value }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
    
  </div>
</div>{% endcomment %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var swiper = new Swiper('.audio-services', {
      slidesPerView: 1.5,
      slidesPerGroup: 1,
      speed: 800,
      navigation: {
        nextEl: '.popular-audio-experiences .btn-next',
        prevEl: '.popular-audio-experiences .btn-prev'
      },
      // Responsive breakpoints
      breakpoints: {        
        // when window width is >= 750px
        750: {
          slidesPerView: 2,
        },      
        // when window width is >= 990px
        990: {
          slidesPerView: 3,
        }
      }
    });
  })
</script>

{% schema %}
  {
    "name": "Popular Audio Experiences",
    "settings": [
      {
        "type": "text",
        "id":"title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "experience",
        "name": "experience",
        "settings": [
          {
            "type": "url",
            "id": "experience-obj",
            "label": "Select experience"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Popular Audio Experiences"
      }
    ]
  }
{% endschema %}