{%- if section.index == 1 -%}
  
  {{- 'tonic-banner.css' | asset_url | stylesheet_tag: preload: true -}}
  
  {%- assign loadingType = 'eager' -%}
  {%- assign fetchPriorityType = 'high' -%}
  
{%- else -%}
  
  <link rel="stylesheet" href="{{ 'tonic-banner.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ 'tonic-banner.css' | asset_url }}"></noscript>
  
  {%- assign loadingType = 'lazy' -%}
  {%- assign fetchPriorityType = 'auto' -%}
  
{%- endif -%}


<div class="{% if settings.animations_reveal_on_scroll %}scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">   
    <div class="content-box">
      <h1 class="sec-title">{{ section.settings.title | default: page.title }}</h1>
      {%- if section.settings.description != blank or page.content != blank -%}
        <div class="descriptions">
          {{ section.settings.description | default: page.content }}          
        </div>          
      {%- endif -%}
    </div>
  </div>
</div>

{%- assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' -%}
{% if section.settings.desktop_image != blank or section.settings.mobile_image != blank %}
  <div class="tonic-banner{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- if section.settings.desktop_image != blank -%}
      <div class="banner__media{% if section.settings.mobile_image != blank %} small-hide{% endif %}">
        {%- assign image_height = section.settings.desktop_image.width | divided_by: section.settings.desktop_image.aspect_ratio -%}
        {{
          section.settings.desktop_image
          | image_url: width: 3840
          | image_tag:
            loading: loadingType,
            fetchPriority: fetchPriorityType,
            width: section.settings.desktop_image.width,
            height: image_height,
            sizes: '100vw',
            widths: widths
        }}
      </div>
    {%- endif -%}

    {%- if section.settings.mobile_image != blank -%}
      <div class="banner__media medium-hide large-up-hide">
        {%- assign image_height_2 = section.settings.mobile_image.width | divided_by: section.settings.mobile_image.aspect_ratio -%}
        {{
          section.settings.mobile_image
          | image_url: width: 1100
          | image_tag:
            loading: loadingType,
            fetchPriority: fetchPriorityType,
            width: section.settings.mobile_image.width,
            height: image_height_2,
            sizes: '100vw',
            widths: widths
        }}
      </div>
    {%- endif -%}
  </div>
{% endif %}



{% schema %}
{
  "name": "Tonic Banner",
  "tag": "section",
  "class": "section tonic-banner-wrapper",
  "settings": [
    {
      "type": "text",
      "label": "Section title",
      "id": "title",
      "info": "If blank, page title will be taken from backend"
    },
    {
      "type": "richtext",
      "label": "Section description",
      "id": "description",
      "info": "If blank, page description will be taken from backend"
    },
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    }
  ],
  "presets": [
    {
      "name": "Tonic Banner"
    }
  ]
}
{% endschema %}
