<link rel="stylesheet" href="{{ 'wellness-faq.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ 'wellness-faq.css' | asset_url }}"></noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.55 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.55 | round: 0 }}px;
  }

  @media screen and (min-width: 770px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  <div class="row">
    {% comment %} 
     <!--
      <div class="col col-left">
        <div class="section-boxes">
          <div class="box-items">
            <h5 class="h5">{{ section.settings['box-1-title'] }}</h5>
            <a
              class="link global-link"
              {% if section.settings['box-1-btn-link'] == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.box-1-btn-link }}"
              {% endif %}
            >
              {{ section.settings['box-1-link-text'] -}}
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                  <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="currentcolor" stroke-width="1.5"/>
                </svg></span
            ></a>
          </div>
          <div class="box-items">
            <h5 class="h5">{{ section.settings['box-2-title'] }}</h5>
            <a
              class="link global-link"
              {% if section.settings['box-2-btn-link'] == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.box-2-btn-link }}"
              {% endif %}
            >
              {{ section.settings['box-2-link-text'] -}}
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                  <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="currentcolor" stroke-width="1.5"/>
                </svg></span
            ></a>
          </div>
        </div>
      </div>
     --> 
    {% endcomment %}
    <div class="col col-right">
      <div class="wellness-faq-accordion">
        <div class="section-head">
          <h2 class="h2">{{ section.settings.title }}</h2>
        </div>
        <div class="wellness-accordion-box-outer">
          {%- for block in section.blocks -%}
            {%- if block.settings.question != blank and block.settings.ans != blank -%}
              <div class="wellness-accordion-box">
                <div class="wellness-accordion-title h5" data-class-item>
                  <span>{{ block.settings.question }}</span> {% render 'icon-close-2' %}
                </div>
                <div class="panel" data-class-content>
                  <div class="text-wrap">{{ block.settings.ans }}</div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function wellnessPageFAQAccordion() {
  }

  // Initialize the accordion on document ready
  $(document).ready(function () {
    $(document).on('click', '#shopify-section-{{ section.id }}.wellness-faq [data-class-item]', function (e) {
      e.preventDefault();
      e.stopPropagation(); // Prevents event bubbling, just in case

      var $this = $(this);
      var $accordion = $this.closest('.wellness-faq-accordion');

      // If the clicked item is already active, deactivate it and hide its content
      if ($this.hasClass('active')) {
        $this.removeClass('active');
        $this.parent().removeClass('active');
        $this.next('[data-class-content]').slideUp(450);
      } else {
        // Close all other open accordion content and deactivate other items
        $accordion.find('[data-class-content]').slideUp(450);
        $accordion.find('.active').removeClass('active');

        // Activate the clicked item and show its content
        $this.addClass('active');
        $this.parent().addClass('active');
        $this.next('[data-class-content]').slideDown(450);
      }
    });
  });
</script>

{% schema %}
{
  "name": "Wellness Faq Accordion",
  "class": "wellness-faq",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Section title",
      "default": "HAVE ANY <br/> QUESTIONS?"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Have any questions?"
        },
        {
          "type": "richtext",
          "id": "ans",
          "label": "Answer",
          "default": "<p>Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Wellness Faq Accordion"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
