<link rel="stylesheet" href="{{ 'wellness-faq.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ 'wellness-faq.css' | asset_url }}"></noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.55 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.55 | round: 0 }}px;
  }

  @media screen and (min-width: 770px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="{{ section.settings.section_id | handle }}" class="padding-sections section-{{ section.id }}-padding">
  <div class="row">
    <div class="col col-right">
      <div class="wellness-faq-accordion">
        <div class="section-head">
          <h2 class="h2 heading">{{ section.settings.title }}</h2>
          {% if section.settings.sort_description != blank %}<p class="description">{{ section.settings.sort_description }}</p>{% endif %}
          {% if section.settings.link_label != blank %}<a href="{{ section.settings.link_url }}" class="btn">{{ section.settings.link_label }}</a> {% endif %}
        </div>
        <div class="wellness-accordion-box-outer">
          {%- for block in section.blocks -%}
            {%- if block.settings.question != blank and block.settings.ans != blank -%}
              <div class="wellness-accordion-box">
                <div class="wellness-accordion-title h5" data-class-item>
                  <span>{{ block.settings.question }}</span> {% render 'icon-faq-arrows' %}
                </div>
                <div class="panel" data-class-content>
                  <div class="text-wrap">{{ block.settings.ans }}</div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script>
  // Initialize the accordion on document ready
  document.addEventListener("DOMContentLoaded", (event) => {
    $(document).on('click', '#shopify-section-{{ section.id }}.wellness-faq [data-class-item]', function (e) {
      e.preventDefault();
      e.stopPropagation(); // Prevents event bubbling, just in case

      var $this = $(this);
      var $accordion = $this.closest('.wellness-faq-accordion');

      // If the clicked item is already active, deactivate it and hide its content
      if ($this.hasClass('active')) {
        $this.removeClass('active');
        $this.parent().removeClass('active');
        $this.next('[data-class-content]').slideUp(200);
      } else {
        // Close all other open accordion content and deactivate other items
        $accordion.find('[data-class-content]').slideUp(200);
        $accordion.find('.active').removeClass('active');

        // Activate the clicked item and show its content
        $this.addClass('active');
        $this.parent().addClass('active');
        $this.next('[data-class-content]').slideDown(200);
      }
    });
  });
</script>

{% schema %}
{
  "name": "Wellness Faq Accordion",
  "class": "wellness-faq",
  "settings": [
    {
      "type": "text",
      "label": "Add Section Id",
      "id": "section_id"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Section title",
      "default": "HAVE ANY <br/> QUESTIONS?"
    },
    {
      "type": "textarea",
      "id": "sort_description",
      "label": "Sort Description"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link Label Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Have any questions?"
        },
        {
          "type": "richtext",
          "id": "ans",
          "label": "Answer",
          "default": "<p>Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Wellness Faq Accordion"
    }
  ]
}
{% endschema %}
